.textarea{
    border: none;
    background-color: #d0d3d4 !important;
    padding: 0.2rem;
    width: 100%;
    border-radius: 5px;
    color: black;
    font-size: 0.9rem;
}
.textarea:focus{
    border: none !important;
    outline: none;
}
.textarea:focus-visible{
    border: none !important;
    outline: var(--color-blue) solid 2px;
}

@media screen and (min-width: 1024px) {
    .textarea {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .textarea{
        font-size: 1.3vw;
    }
    .textarea:focus-visible{
        outline: var(--color-blue) solid 3px;
    }
}