.skills{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    grid-gap: 1rem;
}

.skill{
    display: flex;
    align-items: center;
    background-color: var(--color-skill-background);
    height: 3.6rem;
    padding: 0 1rem;
    border-radius: 6px;
    gap: 1.5rem;
    cursor: default;
    transition: all .3s;
}
.skill:hover {
    background-color: var(--color-blue);
}
.skill:hover .icon path {
    fill: var(--color-white);
}

.skillIcon {
    display: flex;
    width: 2.2rem;
}
.icon{
    width: 100%;
    height: auto;
}
.icon path{
    fill: var(--color-blue);
}



@media screen and (min-width: 1024px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.8rem;
    }
    .skill {
        padding: 0 0.8rem;
        height: 4.2rem;
    }
    .skillIcon {
        width: 2rem;
    }
}