.skills{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-gap: 0.2rem;
}
.skill{
    display: flex;
    cursor: default;
    animation: bouncemobile 2s ease-in-out alternate infinite;
    animation-delay: calc(0.2s * var(--i));
}
.skillIcon{
    width: 100%;
    height: auto;
}
.skillIcon path{
    fill: #d3d3d3;
}
.more{
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #d3d3d3;
}

@keyframes bouncemobile {
    from{
        transform: translateY(0.3rem);
    }
    to{
        transform: translateY(-0.3rem);
    }
}
@keyframes bouncedesktop {
    from{
        transform: translateY(0.5rem);
    }
    to{
        transform: translateY(-0.5rem);
    }
}

@media screen and (min-width: 1024px) {
    .more{
        font-size: 1.1rem;
    }
    .skill{
        animation: bouncedesktop 2s ease-in-out alternate infinite;
        animation-delay: calc(0.2s * var(--i));
    }
}