.socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 0.4rem;
}
.socialLink{
    display: flex;
    text-decoration: none;
    transition: transform .1s;
    border-radius: 50%;
}
.socialLink:hover{
    transform: translateY(-0.1rem);
    box-shadow: 0px 0px 5px var(--color-light-blue);
}
.socialLink:hover path {
    fill: var(--color-blue)
}
.socialIcon{
    width: 1.5rem;
    height: auto;
}

@media screen and (min-width: 768px) {
    .socialIcon {
        width: 1.8rem;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .socials{
        grid-gap: 0.7rem;
    }
    .socialIcon {
        width: 1.8rem;
        height: auto;
    }
}