.hero{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    height: 90svh;
    width: 100%;
}
.heroTextLight{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    color: #bebebe;
}
.heroTextLarge{
    font-weight: 700;
    font-size: 2.1rem;
    margin: 0;
}
.heroText{
    font-weight: 400;
    font-size: 1.2rem;
}
.title{
    color: #3282b8;
}
.profilePicture {
    z-index: 2;
    width: 8rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--color-blue);
    margin-bottom: 2.5rem;
    animation: bouncepicture 2s ease-in-out alternate infinite;
}

@keyframes bouncepicture {
    from {
        transform: translateY(-0.5rem);
    } to {
        transform: translateY(0.5rem);
    }
}

@media screen and (min-width: 768px) {
    .hero{
        gap: 0.2rem;
    }
    .heroTextLight {
        font-size: 1.2rem;
    }
    .heroTextLarge {
        font-size: 2.5rem;
    }
    .heroText {
        font-size: 1.3rem;
    }
    .profilePicture {
        width: 9rem;
    }
}
@media screen and (min-width: 1024px) {
    .hero{
        gap: 0.1rem;
        height: 85vh;
    }
    .heroTextLarge {
        font-size: 1.8rem;
    }
    .heroTextLight {
        font-size: 0.9rem;
    }
    .heroText {
        font-size: 0.9rem;
    }
    .profilePicture {
        margin-bottom: 1.2rem;
        width: 6.5rem;
    }
}