.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header{
  position: relative;
  display: flex;
  flex-direction: column;  
  height: 104vh;
  background: linear-gradient(to right,rgba(27, 38, 45, 0.85), rgba(27, 38, 45, 0.85)),url("/images/heroImage.jpg") top center/cover no-repeat;
  padding: 1.2rem 0;
  overflow: hidden;
}
.section{
  padding-top: 2rem;
  padding-bottom: 2.3rem;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 6vw;
  margin-top: 1rem;
  background-color: var(--color-light-blue);
}
.license{
  font-size: 0.82rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: var(--color-gray);
}
.spinner{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--color-blue);
  border-bottom-color: var(--color-blue);
  animation: loading1 2s linear infinite;
}
.spinner::after{
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--color-blue);
  border-bottom-color: var(--color-blue);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: loading2 1s linear infinite;
}

@keyframes loading1 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes loading2 {
  0%{
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100%{
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .header{
    padding: 0.3rem 0;
  }
  .section{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2.3rem;
    padding-bottom: 2.6rem;
    gap: 2.3rem;   
  }
  .footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 10vw 0.6rem 10vw;   
  }
  .license{
    font-size: 0.68rem;
  }
}