.bgColorDark{
    background-color: var(--color-dark-blue);
}
.bgColorLight{
    background-color: var(--color-light-blue);
}
.bgColorBlue{
    background-color: var(--color-blue);
}
.colorBlue{
    color: var(--color-blue);
}
.colorDarkBlue{
    color: var(--color-dark-blue);
}
.colorLightBlue{
    color: var(--color-light-blue);
}
.colorWhite{
    color: var(--color-white);
}
.colorGray{
    color: var(--color-gray);
}
.svgColorBlue path{
    fill: var(--color-blue);
}
.svgColorWhite path{
    fill: var(--color-white);
}
.svgColorGray path{
    fill: var(--color-gray);
}
.svgColorRed path{
    fill: var(--color-red);
}
.headingCard{
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
}
.headingCard2{
    font-size: 1.1rem;
    font-weight: 600;
}
.textCard{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}
.textCardLink{
    font-size: 1rem;
}
.textCardSkill {
    font-size: 1.1rem;
}
.textBio{
    font-size: 0.9rem;
}
.inputGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.inputGroupSubject{
    grid-area: subject;
}
.inputGroupMessage{
    grid-area: message;
}
.inputGroupError input, .inputGroupError textarea{
    outline: var(--color-red) solid 2px;
}
.inputLabel{
    font-size: 0.8rem;
    font-weight: 600;
    transform: translateX(4px);
}
.inputError{
    position: absolute;
    top: 2px;
    right: 0;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-red);
}
.errorIcon{
    width: 1rem;
    height: auto;
}
.errorIcon path{
    fill: var(--color-red)
}

@media screen and (min-width: 1024px) {
    .textCard{
        font-size: 1.36vw;
    }
    .textCardLink{
        font-size: 1.38vw;
    }
    .textCardSkill {
        font-size: 1.60vw;
    }
    .textBio{
        font-size: 1.36vw;
    }
    .headingCard{
        font-size: 1.40vw;
    }
    .headingCard2{
        font-size: 1.6vw;
    }
    .inputGroup{
        gap: 0.4rem;
        width: 100%;
    }
    .inputLabel{
        font-size: 1.1vw;
    }
    .inputError{
        font-size: 0.9vw;
    }
    .errorIcon{
        width: 1.2vw;
        height: auto;
    }
}